:root {
  --window-header-color: #112D4E;
  --background-color: #BBE1FA;
  --window-inner-color: #F9F7F7;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background-color);
}

/* Preview html */
.preview-inner h1 {
  border-bottom: 2px solid black;
}

.preview-inner h2 {
  border-bottom: 1px solid black;
}

.preview-inner table {
  border: 1px solid;
  margin: 1rem 0;
}

.preview-inner table td, th {
  border: 1px solid;
  padding: 5px;
}

.preview-inner pre {
  display: block;
  background-color: #eee;
  padding: 1rem;
  overflow-x: auto;
}

.preview-inner code {
  background-color: #eee;
}

.preview-inner img {
  width: 100%;
  height: 100%;
}

/* Window header */
.window-header {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--window-header-color);
}

.window-header p {
  margin: 0;
}

.btn {
  font-size: 1rem;
  background-color: transparent;
  color: white;
  padding: 0;
  border: 0;
}

.btn:hover {
  color: var(--background-color);
  cursor: pointer;
}

/* Preview Window */
.preview-window {
  margin: 1rem auto;
  width: 750px;
  border: 1px solid black;
  background-color: var(--window-inner-color);
  box-shadow: 0 0 5px 0 var(--window-header-color);
}

.preview-inner {
  min-height: 100px;
  padding: 0 1rem;
  word-wrap: break-word;
}

/* Editor window */
.editor-window {
  width: 500px;
  margin: 1rem auto;
}

.editor-window textarea {
  width: 100%;
  height: 200px;
  padding: 0.5rem;
  background-color: var(--window-inner-color);
  outline: 0;
  border: 1px solid black;
  overflow: auto;
  font-size: 0.9rem;
}

.editor-window textarea:focus {
  box-shadow: 0 0 5px 0 var(--window-header-color);
}

.maximized {
  min-height: 100vh;
}

.minimized {
  display: none;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 14px;
  }
  .preview-window {
    width: 90vw;
  }
  .editor-window {
    width: 75vw;
  }
}



